<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="DataAccessClient" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
	</configSections>
	<system.serviceModel>
		<!--
			Uncommenting this <diagnostics> block will turn on message logging. The contents and the location of the
			log file are specified in the  <system.diagnostics> block.
		-->
		<!--
		<diagnostics>
			<messageLogging logEntireMessage="true" maxMessagesToLog="3000" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
		</diagnostics>
		-->
	</system.serviceModel>
	
	<DataAccessClient>
		<ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
			<FilePath>Quickstarts.DataAccessClient.Config.xml</FilePath>
		</ConfigurationLocation>
	</DataAccessClient>
</configuration>
